@import url('https://fonts.googleapis.com/css2?family=Trispace:wght@300&display=swap');
*{
    margin:0;
    padding:0;
    font-family: 'Trispace', sans-serif;
    
}
body{
    background-image:url(pexels-nicole-avagliano-2706654.jpg);
    background-size:cover;
    background-repeat:no-repeat;
}
.navBar{
    padding:1em;
    display:flex;
    flex-flow: row wrap;
    justify-content:space-around;
}
.index:hover{
    color:#6f23dc;
}
.index{
    color:lightyellow;
    text-decoration:none;
    border: 2px solid grey;
    padding:10px;
    
}
.about{
    color:lightyellow;
    text-decoration:none;
    border: 2px solid grey;
    padding:10px;
}
.more{
    color:lightyellow;
    text-decoration:none;
    border: 2px solid grey;
    padding:10px;
}
header{
    color:lightyellow;
    text-align:center;
    padding:1.5em;
    font-size:2em;
    text-shadow: 2px 2px darkslategrey;
}
h3{
    color:lightyellow;
    text-align:center;
    font-size:1.3em;
    padding:1em;
    text-shadow: 2px 2px darkslategrey;
}
.info{
    color:lightyellow;
    text-align:center;
    width:fit-content;
    display:flex;
    flex-flow: row nowrap;
    align-items:center;
    justify-content:space-between;
}
.how{
    margin:0px;
    color:lightyellow;
    width:fit-content;
    display:flex;
    flex-flow: column nowrap;
    align-items:start;
    justify-content:center;
    padding:2%;
    order: 1;
}
.why{
    margin:0px;
    color:lightyellow;
    width:fit-content;
    display:flex;
    flex-flow: column nowrap;
    align-items:start;
    justify-content:center; 
    padding:2%;
    order:3;
   
}
.where{
    margin:0px;
    color:lightyellow;
    width:fit-content;
    display:flex;
    flex-flow: column nowrap;
    align-items:start;
    justify-content:center;
    padding:2%;
    order:2;
}

img{
    width:400px;
    border: 1px solid #6f23dc;
}
.image{
    align-self:center;
}
p{
    color:lightyellow;
    width:400px;
    text-align:center;
    text-shadow: 2px 2px #6f23dc;
}
footer{
    background-color:#6f23dc;
}
footer p{
    text-align:left;
}